<app-menu></app-menu>


<!-- About-->
<section class="page-section bg-primary h-100" style="background-image: url(assets/fondoPrev3.png);">
  <div class="container h-100" >
      <div class="row h-100 align-items-center justify-content-center">
          <div class="col-lg-8 text-center"  >
              <br>
              <br>
              <h3 class="text-white mt-0" >¿Sabías que cada día hay más de 400 mil personas buscando un especialista de la salud en Colombia?…… </h3>
              <hr class="divider light my-4" />
              <br>
              <h5 class="text-white-50 mb-4" >PREVENIR Descuentos Médicos te ayuda que tenga una parte de estos usuarios en tu consultorio.</h5>
             <br>
              <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Conoce más</a> -->
              <!-- <i class="fa fa-heartbeat" style="font-size: 100px;
              color: white;" aria-hidden="true"></i> -->
          </div>
      </div>
  </div>
</section>

<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Prevenir Descuentos Médicos</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Una aplicación que te permite ofrecer tus servicios médicos con un descuento para los usuarios de nuestra aplicación</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="http://citas.prevenirexpress.com">REGISTRATE GRÁTIS</a>
            </div>
        </div>
    </div>
  </header>
  
<!-- Services-->
<section class="page-section" id="about">
  <div class="container">
      <h2 style="color: white;" class="text-center mt-0">QUE HACEMOS Y COMO LO HAREMOS: </h2>
      <hr class="divider my-4" />
      <p class="text-white-50 mb-4">GRUPO PREVENIR EXPRESS SAS. Tiene una mecánica sencilla, manejar un acuerdo donde nosotros podamos impulsar sus servicios profesionales a nivel nacional y en contra prestación usted otorgara un descuento en consultas, tratamientos y procedimientos a los usuarios que soliciten sus servicios y separen la cita por la App.</p>
     
      <div class="row">
          <div class="col-md-6"> 
              <br>
              <h4 style="color: white;" class="text-center mt-0">¿QUE GANAN LOS AFILIADOS? </h4>
              <br>
              <p class="text-white-50 mb-4">Cuando los usuarios son captados por nuestros robots de búsquedas los direccionamos a la Aplicación donde le daremos las Ventajas y Garantías que no tienen en la web.</p>
              <ol class="text-white-50 mb-4">
                  <li>Tecnología Artificial Trabajando para usted las 24 horas consiguiéndole usuarios así usted este durmiendo.</li>
                  <li>Robots de búsquedas que optimizan el sistema para garantizar los resultados</li>
                  <li>Una suscripción gratuita para Titular y sus (8) Beneficiarios</li>
                  <li>Buscar los especialistas de la salud por ciudad y departamento  </li>
                  <li>Descuentos con los mejores médicos especialistas del país.</li>
                  <li>Una App para agendar las citas médicas sin llamadas</li>
                   <li> Recordatorio y confirmación de las citas de forma automática </li>
                  <li>Programas de promoción y prevención</li>
                  <li>Planes de previsión Exequial para el grupo familiar y sus mascotas.</li>
                  <li>Consulta en veterinaria </li>
                  <li>Alianzas con las mejores aseguradoras del país.</li>
              </ol>
          </div>
          <div class="col-md-6">
              <img class="img-fluid img-thumbnail"  src="assets/img/mujer.png">
          </div>
      </div>
      <br>
      <hr class="divider my-4" />
          <div class="row">
              <div class="col-md-6">
                  <br>
                  <img class="img-fluid img-thumbnail" src="assets/citas.png">
              </div>      
    
          <div class="col-md-6"> 
              <h4 style="color: white;" class="text-center mt-0">ACEPTANDO NUESTRA PROPUESTA USTED SE BENEFICIA:  </h4>
              <br>
              <ol class="text-white-50 mb-4">
                  <li>Una prueba gratuita para que analice nuestros servicios sin costo por tres meses.</li>
                  <li>Mayor flujo de clientes</li>
                  <li>Mayor flujo de caja “todos nuestros clientes son particulares”</li>
                  <li>Una App para agendamiento de citas médicas y la organización de sus pacientes en tiempo real.</li>
                  <li>Notificaciones de recordatorio de la cita  cada 24, 12 y 3 horas</li>
                  <li>Confirmación de asistencia a la cita por mensaje de texto</li>
                  <li>Una plataforma web para que administre “sucursales, médicos, horarios y más” </li>
                  <li>Una App para que publique sus servicios con los descuentos que usted quiera promocionar bajo sus políticas 
                      “PREVENIR descuentos médicos disponible en Android y IOS” 
                       </li>
                  <li>Mayor reconocimiento de su marca a nivel local y nacional entre todos nuestros usuarios</li>
                  <li>Mayor presencia publicitaria en redes sociales amparados por nuestra app.</li>
              </ol>
          </div>
      </div>

    <hr class="divider my-4">

    <p class="text-white-50 mb-4">En la App usted puede hacer publicaciones de sus servicios médicos, ofertando sus descuentos y promociones donde el usuario lo encontrará de una manera facil y rápida </p>
<p class="text-white-50 mb-4">En la web usted va a administrar: sucursales, consultorios, médicos, horarios, valores de consulta, tratamientos y procedimientos, descuentos al usuario de la app, publicaciones de sus servicios profesionales, imágenes, videos, direcciónes, teléfonos, historias clínicas, formatos para cada especialidad ...</p>   
<p class="text-white-50 mb-4" style="text-align: center;">GRATIS</p>  
<hr class="divider my-4">
      <!-- <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                  <h3 style="color: white;" class="h4 mb-2">Sturdy Themes</h3>
                  <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                  <h3 style="color: white;" class="h4 mb-2">Up to Date</h3>
                  <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                  <h3 style="color: white;"  class="h4 mb-2">Ready to Publish</h3>
                  <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="mt-5">
                  <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                  <h3 style="color: white;" class="h4 mb-2">Made with Love</h3>
                  <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
              </div>
          </div>
      </div> -->
  </div>
</section>

<!-- Call to action-->
<section class="page-section bg-dark text-white" id="services">
  <div class="container justify-content-center">
      <h2 class="mb-4 text-center">DESCUENTOS EN SERVICIOS MÉDICOS:</h2>
      <hr class="divider my-4" />
<div class="row">
    <div class="col-md-4">
        <ul text-white-50 mb-4>
            <li>Alergología</li>
                  <li>Medicina Estética  </li>
                  <li>Psicología</li>
                  <li>Anestesiología</li>
                  <li>Medicina Física Y Rehabilitación</li>
                  <li>Psiquiatría</li>
                  <li>Cardiología</li>
                  <li>Medicina Forense</li>
                  <li>Radiología</li>
                  <li>Dermatología</li>
                  <li>Medicina General Y De Familia</li>
                  <li>Endocrinología</li>
                  <li>Medicina Interna</li>
                  <li>Toxicología</li>
                  <li>Enfermería</li>
        </ul>
        
    </div>
    <div class="col-md-4">
        <ul>
            <li>Medicina Nuclear</li>
            <li>Urología</li>
            <li>Fisioterapia</li>
            <li>Nefrología</li>
            <li>Veterinarias</li>
            <li>Fonoaudiología</li>
            <li>Neumología</li>
            <li>Hospitales</li>
            <li>Neurología</li>
            <li>Ips</li>
            <li>Genética Médica</li>
            <li>Nutrición Y La Dietética</li>
            <li>Sg-Sst</li>
            <li>Geriatría</li>
            <li>Odontología</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Clínicas</li>
            <li>Ginecología Y Obstetricia</li>
            <li>Oftalmología</li>
            <li>Laboratorios </li>
            <li>Hematología</li>
            <li>Oncología</li>
            <li>Centros Médicos</li>
            <li>Infectología</li>
            <li>Óptica Y Optometría </li>
            <li>Fundaciones En Salud.</li>
            <li>Inmunología</li>
            <li>Ortopedia Y Traumatología</li>
            <li>Medicina Deportiva</li>
            <li>Patología</li>
            
        </ul>
    </div>
</div>




  

     
      

      <br>
      <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="col-lg-12 text-center">
                <h4 class="mt-0" style="color: white;">PLATAFORMA WEB </h4>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">www.prevenirexpress.com e ingresar a DESCUENTOS MEDICOS y encontrará una Gran Plataforma donde puede administrar sus consultorios, horarios, sucursales, médicos, en las diferentes especialidades y las publicaciones de cada uno de sus servicios.</p>
            </div>
        </div>
      <div class="col-md-12">
        <div class="col-lg-12 text-center">
            <h4 class="mt-0" style="color: white;">COSTOS </h4>
            <hr class="divider my-4" />
            <p class="text-muted mb-5">Se pagarán $1.000 pesos colombianos por cada cliente que solicite una cita por la App después de terminar los (3) Meses de prueba GRATUITA donde puede ver los la efectividad y beneficios de ser parte de nuestra familia. Si después de este tiempo de prueba gratuita no está a gusto con nosotros, puede retirarse sin cargos monetarios.</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="http://citas.prevenirexpress.com">REGISTRATE GRÁTIS</a>
        </div>
      </div>

        
    </div>
  </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <h2 class="mb-4" style="color: white; text-align: center;">CONTÁCTANOS:</h2>
    <hr class="divider my-4" />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <app-formulario></app-formulario>
    </div>
    <div class="col-md-1"></div>
   
</div>
<hr class="divider my-4" />
    <br>
      
  </div>
</section>

<app-footer></app-footer>